---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import wojtekImg from '~/assets/images/site/wojtek-about.jpg';

const metadata = {
  title: 'O mnie',
  description:
    'Wojciech Tracichleb — przedsiębiorca budowlany, autor książki Od Marzenia Do Wprowadzenia. Od 2013 roku w budownictwie jednorodzinnym.',
};
---

<Layout metadata={metadata}>
  <Hero>
    <Fragment slot="title">
      Cześć!<br />
      <span class="text-accent dark:text-white">Nazywam się Wojciech Tracichleb.</span>
    </Fragment>

    <Fragment slot="subtitle">
      Jeśli tu trafiliście, prawdopodobnie marzycie o własnym domu jednorodzinnym lub właśnie stawiacie pierwsze (lub
      kolejne) kroki związane z jego budową. Świetnie znam to uczucie – mieszankę ekscytacji i obaw, które towarzyszą
      tak wielkiemu przedsięwzięciu.
    </Fragment>
  </Hero>

  <Content
    isReversed
    items={[
      {
        title: 'Generalny wykonawca',
        description: 'Od wielu lat prowadzę firmę budowlaną i jako generalny wykonawca buduję domy dla moich klientów.',
      },
      {
        title: 'Doświadczenie z każdej perspektywy',
        description:
          'Znam proces budowy z każdej możliwej perspektywy. Przez kilka lat razem z żoną prowadziłem również biuro architektury wnętrz. Obsługiwaliśmy klientów zarówno z Polski jak i zza granicy. Wcześniej prowadziłem też firmę produkującą meble na wymiar oraz firmę specjalizującą się w instalacjach dla domów jednorodzinnych (m.in. elektryka, wod-kan, ogrzewanie).',
      },
      {
        title: 'Własne doświadczenie',
        description:
          'Towarzyszyłem setkom osób w powstawaniu ich wymarzonego domu. Sam również jako inwestor wybudowałem własny dom jednorodzinny.',
      },
    ]}
    image={{
      src: wojtekImg,
      alt: 'Wojciech Tracichleb',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Przedsiębiorca budowlany z pasją do przekazywania wiedzy
      </h3>
      Prywatnie jestem mężem i tatą dwóch chłopców. Od 2013 roku zawodowo zajmuję się tematyką budownictwa jednorodzinnego.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: 'Autor książki „Od marzenia do wprowadzenia"',
        description:
          'Przeprowadza czytelników przez proces budowy wymarzonego domu w sposób niezwykle prosty i pozwalający uniknąć kosztownych błędów. 600 stron praktycznej wiedzy zebrane w jedną spójną całość.',
      },
      {
        title: 'Dlaczego Pozytywnie Zbudowani?',
        description:
          'Chciałbym podzielić się z Wami doświadczeniem, które zebrałem przez te wszystkie lata. Dlatego właśnie powstała marka pozytywniezbudowani.pl i dlatego napisałem książkę Od marzenia do wprowadzenia.',
      },
      {
        title: 'Misja',
        description:
          'Chciałbym, abyście znaleźli tu wsparcie oraz wiedzę, która pomoże Wam spełnić marzenie o budowie własnego domu, a także pomoże Wam przejść przez cały proces tak, abyście po jego zakończeniu wspominali go pozytywnie.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Cel</h3>
      Od 13 lat zajmuję się budownictwem jednorodzinnym i postawiłem sobie za cel uporządkowanie w jedną spójną całość wiedzy,
      która jest Wam potrzebna, aby przejść przez budowę pewnie i świadomie.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Czytaj blog',
        href: '/blog/',
        icon: 'tabler:book',
      },
      {
        text: 'Poznaj książkę',
        href: '/ksiazka/',
      },
    ]}
  >
    <Fragment slot="title"> Chcesz wiedzieć więcej? </Fragment>

    <Fragment slot="subtitle">
      Zapraszam na bloga, gdzie dzielę się praktyczną wiedzą o budowie domu. Jeśli szukasz kompleksowego przewodnika —
      serdecznie polecam moją książkę.
    </Fragment>
  </CallToAction>
</Layout>
